services:
  redis:
    image: redis:8.0.2
    container_name: redis
    command:
      - redis-server
      - "--appendonly yes"
      - "--requirepass ${REDIS_PASSWORD}"
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  redis_data: