services:
  redis:
    image: redis:8.0.2
    container_name: redis
    env_file:
      - .env
    command:
      - redis-server
      - "--appendonly yes"
      - "--requirepass ${REDIS_PASSWORD}"
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "--raw", "incr", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  bot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ai_content_bot
    env_file:
      - .env
    depends_on:
      redis:
        condition: service_healthy
    volumes:
      - .:/app
    restart: unless-stopped
    command: sh -c "python -m src.main"

volumes:
  redis_data: