services:
  redis:
    image: redis:8.0.2
    container_name: redis
    env_file:
      - .env
    command:
      - redis-server
      - "--appendonly yes"
      - "--requirepass ${REDIS_PASSWORD}"
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  bot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ai_content_bot
    env_file:
      - .env
    depends_on:
      - redis
    volumes:
      - .:/app
    restart: unless-stopped
    command: sh -c "python -m src.main"

volumes:
  redis_data: